{% extends 'base.html' %}

	{% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

{% block title %}
    {{page_title}}
{% endblock title %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container" style="padding-top:30px;">

  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <div class="modal-header">
    <h5 class="modal-title">{{page_title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  	</div>

  <div class="modal-body">
    {% bootstrap_form form %}
    <label for="{{ form.id_for_label }}">{{ form.label }}</label>

    </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="submit-btn btn btn-primary">Submit</button>
  </div>

  </form>
{% endblock %}
